body{
    width: 100%;
    height: 3360px;
    margin: 0px;
    padding: 0px;
    font-family: "標楷體";
    display: grid;
    grid-template-rows:80px 1050px 1050px 1050px 130px;
    grid-template-columns:auto;
    grid-template-areas: 
    "header"
    "section1"
    "section2"
    "section3"
    "footer";
}

.section1{
    grid-area: section1;
}

.section2{
    grid-area: section2;
}

.section3{
    grid-area: section3;
}

main{
    
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

section{
    width: 100%;
    height: 750px;
}

.introduceback{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortgood{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.tit{
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1cm;
}

.card{
    width: 220px;
    height: 250px;
    margin: 0% 2% 1% 2%;
}

.cardphoto{
    width: 100%;
    height: 70%;
    background-color:#d4e5ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
}

.cardpic{
    width: 150px;
    height: 150px;
}

.cardtext{
    width: 100%;
    height: 30%;
}

.cardtext1{
    width: 100%;
    height: 70%;
    background-color: lightblue;
    font-family: "標楷體";
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardtext2{
    width: 100%;
    height: 30%;
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
}



.cartphoto{
    width: 20px;
    height: 20px;
    margin-right: 0.3cm;
}