main{
    font-family: "標楷體";
}

main form{
    margin-left: 10%;
}

main input[type="password"]{
    border-radius: 20px;
    margin-left: 5%;
}

main button[type="submit"],main button[type="reset"]{
   
    margin-left: 5%;
}

main form div{
    margin-left: 20%;
    margin-top: 5%;
}